<a name="faleconosco" style="position: relative; top: -88px;"></a>
<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Fale com a gente</h2>
        <p class='shortline'></p>
        <div class='spacing'></div>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
        <form action="https://getsimpleform.com/messages?form_api_token=f1f8da1415197ef834fbbb5c2dbd03db" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <!--input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /-->
  <!-- all your input fields here.... -->
      <div class='medium-6 large-6 columns'>
        <input placeholder='Nome' type='text' name='nome'>
        <input placeholder='e-mail' type='text' name='email'>
        <input placeholder='Assunto' type='text' name='assunto'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='Mensagem' name='mensagem'></textarea>
        <input class='button white' type='submit' value='Enviar' name='enviar'>
      </div>
        </form>
    </div>
  </div>
</div>
