<a name="home" style="position: relative; top: -88px;"></a>
<ul data-orbit data-options="animation:slide;
                             pause_on_hover:false;
                             animation_speed:500;
                             timer_speed:3500;
                             navigation_arrows:true;
                             bullets:true;">
  {% for slide in site.data.slides %}
    <li>
      <img src="{{site.url}}images/{{slide.image}}" />
      <div class='orbit-caption caption-{{ slide.desc_location }}'>
        <div class='row'>
          <div class='large-12 columns right'>
            {{ slide.desc }}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
