$dark:              #c7490c;
$dark-hover:        #c7490c;
$dark-menu:         #cc6f1a;
$dark-arrow:        #f69c9c;
$light:             #ffe0ea;
$light-int:         #fff39d;
$light-super:       #fff3c0;
