$dark:              #8d7658;
$dark-hover:        #a02626;
$dark-menu:         #a02626;
$dark-arrow:        #8d7658;
$light:             #eae6d5;
$light-int:         #AAAAAA;
$light-super:       #fcf9e8;
